@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

body {
	background-image: url('./lib/assets/bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}

.project-panel {
	transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-panel.hover-right {
	--tiltY: -5deg;
	--tiltX: 3deg;
}

.project-panel.hover-left {
	--tiltY: 5deg;
	--tiltX: 3deg;
}

.project-panel.hover-left:hover,
.project-panel.hover-right:hover {
	transform: perspective(600px) rotateY(var(--tiltY)) rotateX(var(--tiltX)) translateY(-3px);
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}
